/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

body {
	background-color: #121212;
	color: #fff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0 auto;
	padding: 20px;
	max-width: 1550px;
}

.tab-container {
	display: flex;
	justify-content: center;
}

.tab-wrapper {
	display: flex;
	border: none;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.tab {
	padding: 10px 20px;
	margin: 0;
	cursor: pointer;
	background-color: #333;
	border: none;
	transition: background-color 0.3s;
}

.tab:not(:first-child) {
	border-left: 1px solid #555;
}

.tab-content {
	display: none;
	text-align: center;
	margin-top: -1px; /* Aligns with the bottom border of the tabs */
	padding: 20px;
	background-color: #1e1e1e;
	border: 1px solid #555;
	border-radius: 8px;
}

.active.tab {
	background-color: #404040;
	border-bottom: 3px solid #0078d7; /* Active tab indicator */
	transition: border-bottom-color 0.2s ease-out;
}

.active.tab-content {
	display: block;
}

.npc-area-panel {
	background-color: #1e1e1e;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
	padding: 10px 15px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.npc-area-panel h2 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 4px;
	margin: 10px 5px;
}

ul li {
	background-color: #252525;
	margin: 4px 0;
	padding: 8px;
	border-radius: 5px;
	display: flex; /* Use flexbox layout */
	justify-content: space-between; /* Space between the text and the input */
	align-items: center; /* Align items vertically */
	width: 200px;
}

input[type="number"] {
	background-color: #333;
	border: 1px solid #555;
	color: white;
	padding: 5px;
	border-radius: 5px;
	width: 30px;
}

.calculateTabContainer {
	display: flex;
	justify-content: space-between;
}
.dropdown-container {
	position: relative;
	width: 250px;
}

.dropdown-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	color: #000; /* Ensure text is visible */
	background-color: #fff; /* Ensure input background is visible */
	box-sizing: border-box;
}

.dropdown-list {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 10; /* Ensure dropdown is above other content */
}

.dropdown-list li {
	padding: 10px;
	cursor: pointer;
	color: #000; /* Ensure text is visible */
}

.dropdown-list li:hover {
	background-color: #f0f0f0;
}

.select-and-table {
	display: flex;
}

.selected-item-header {
	margin: 4px 10px;
	color: #fff; /* Adjust based on your theme */
}
