/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

body {
	background-color: #121212;
	color: #fff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0 auto;
	padding: 20px;
	max-width: 1550px;
}

.tab-container {
	display: flex;
	justify-content: center;
}

.tab-wrapper {
	display: flex;
	border: none;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.tab {
	padding: 10px 20px;
	margin: 0;
	cursor: pointer;
	background-color: #333;
	border: none;
	transition: background-color 0.3s;
}

.tab:not(:first-child) {
	border-left: 1px solid #555;
}

.tab-content {
	display: none;
	text-align: center;
	margin-top: -1px; /* Aligns with the bottom border of the tabs */
	padding: 20px;
	background-color: #1e1e1e;
	border: 1px solid #555;
	border-radius: 8px;
}

.active.tab {
	background-color: #404040;
	border-bottom: 3px solid #0078d7; /* Active tab indicator */
	transition: border-bottom-color 0.2s ease-out;
}

.active.tab-content {
	display: block;
}

.npc-area-panel {
	background-color: #1e1e1e;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
	padding: 10px 15px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.npc-area-panel h2 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 4px;
	margin: 10px 5px;
}

ul li {
	background-color: #252525;
	margin: 4px 0;
	padding: 8px;
	border-radius: 5px;
	display: flex; /* Use flexbox layout */
	justify-content: space-between; /* Space between the text and the input */
	align-items: center; /* Align items vertically */
	width: 200px;
}

input[type="number"] {
	background-color: #252525;
	border: 1px solid #555;
	color: #ddd;
	padding: 5px;
	border-radius: 5px;
	width: 30px;
	text-align: center;
}

.calculateTabContainer {
	display: flex;
	justify-content: space-between;
}
.dropdown-container {
	position: relative;
	width: 250px;
}

.dropdown-input,
.monster-dropdown-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #555; /* Darker border */
	color: #ddd; /* Lighter text for contrast */
	background-color: #252525;
	box-sizing: border-box;
	border-radius: 5px;
}

.dropdown-list,
.monster-dropdown-list {
	display: none;
	position: absolute;
	background-color: #333; /* Darker list background */
	border: 1px solid #555;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 10;
	border-radius: 5px;
}

.dropdown-list li,
.monster-dropdown-list li {
	padding: 10px;
	cursor: pointer;
	color: #ddd;
}

.dropdown-list li:hover,
.monster-dropdown-list li:hover {
	background-color: #404040; /* Highlighted item */
}

.select-and-search,
.monster-selection-container {
	display: flex;
	align-items: center;
}

.selected-item-header,
.selected-monster-header {
	margin: 8px;
	font-size: 18px;
	color: #0078d7; /* Accent color for selection */
}

.npc-table,
.monster-loot-table {
	width: 100%; /* Make the table responsive */
	border-collapse: collapse;
	background-color: #252525;
	color: #ddd; /* Lighter text against dark background */
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.npc-table th,
.npc-table td,
.monster-loot-table th,
.monster-loot-table td {
	text-align: left;
	padding: 12px 15px;
	border: 1px solid #333; /* Softer cell borders */
}

.npc-table th,
.monster-loot-table th {
	background-color: #333; /* Slightly darker header background */
}
input[type="text"]:focus,
input[type="number"]:focus,
.dropdown-list li:focus,
.monster-dropdown-list li:focus {
	outline: none; /* Remove default outline if undesirable */
	box-shadow: 0 0 5px #0078d7; /* Subtle focus indicator */
}
